body {
  margin: 0;
  font-family: "roboto", sans-serif;
}

.header-menu {
  display: flex;
  align-items: center;
  padding: 10px;
}
.header-menu .fleche {
  color: grey;
  padding-right: 100px;
}
.header-menu header .titremenu {
  display: flex;
}
.header-menu header .titremenu.titremenu img {
  padding-left: 50%;
}

.imageresto img {
  width: 100%;
  height: 276px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.menu {
  border-radius: 20px 20px 0 0;
  background-color: rgb(246, 246, 246);
  padding: 25px 0px 25px 0px;
  margin-top: -55px;
  position: relative;
}

.menu .titremenu {
  font-family: shrikhand;
  font-size: smaller;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.coeur {
  font-size: 30px;
  position: relative;
  margin-right: 25px;
}

.coeur .fa-solid {
  position: absolute;
  transform: scale(0);
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 0px 1px -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: transparent;
}

.coeur:hover .fa-solid {
  transform: scale(1);
  transition-duration: 1s;
}

h2 {
  padding-left: 10px;
  padding-top: 25px;
  text-transform: uppercase;
  font-weight: lighter;
  display: inline-block;
  margin: 0;
}
h2 .underline {
  width: 50%;
  height: 3px;
  margin: 0px;
  border-bottom: 3px solid #99E2D0;
  overflow: hidden;
}

.bloc-entrees, .bloc-plats, .bloc-desserts {
  background-color: rgb(246, 246, 246);
  padding-top: 15px;
  padding-bottom: 15px;
  opacity: 0;
  transition: 3s ease-in-out;
}

.bloc-entrees {
  -webkit-animation: anim 1s linear forwards 1s;
  animation: anim 1s linear forwards 1s;
}

.bloc-plats {
  -webkit-animation: anim 1s linear forwards 2s;
  animation: anim 1s linear forwards 2s;
}

.bloc-desserts {
  -webkit-animation: anim 1s linear forwards 3s;
  animation: anim 1s linear forwards 3s;
}
@-webkit-keyframes anim {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.plat {
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: white;
  width: 90%;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 8px 12px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-top: 15px;
}

.texte {
  width: 100px;
  height: 54px;
  flex-grow: 1;
}
.texte p, .texte h3 {
  overflow: hidden;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.prix {
  align-self: flex-end;
  padding-bottom: 15px;
  margin-right: 15px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  color: white;
  width: 0;
  height: 75px;
  border-radius: 0 15px 15px 0;
  transition: 1s;
}

.plat:hover .checkbox {
  width: 70px;
}

h3 {
  margin: 5px;
}

p {
  margin: 5px;
  font-weight: lighter;
}

.prix {
  font-weight: bold;
}

.bouton {
  height: 70px;
  background-color: rgb(246, 246, 246);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 55px;
}

/**********VERSION TABLETTES**********/
@media all and (min-width: 768px) {
  header, img {
    display: flex;
    justify-content: center;
  }

  .titremenu {
    justify-content: space-evenly;
  }

  .containermenu {
    display: flex;
    width: 100%;
  }
  .containermenu .containerentrees, .containermenu .containerplats, .containermenu .containerdesserts {
    width: 33%;
  }

  .footer-box {
    display: flex;
    justify-content: space-between;
  }
  .footer-box .part-line {
    margin-top: 5%;
  }
  .footer-box .footer__infos p {
    padding-bottom: 5%;
  }
}
/******VERSION DESKTOP*****/
@media all and (min-width: 992px) {
  .btn {
    transform: scale(1.4);
  }

  /***footer***/
  .footer-box {
    justify-content: space-evenly;
  }
}
.btn {
  text-decoration: none;
  border-radius: 25px;
  color: white;
  background: rgb(147, 86, 220);
  background: linear-gradient(353deg, rgb(147, 86, 220) 36%, rgb(255, 121, 218) 79%, rgb(255, 121, 218) 100%);
  box-shadow: 0px 10px 12px -4px rgba(0, 0, 0, 0.4);
  padding: 15px 30px 15px 30px;
  transition: box-shadow 1s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  filter: brightness(150%);
  box-shadow: 0px 10px 17px 6px rgba(0, 0, 0, 0.4);
}

.coeur {
  font-size: 30px;
  position: relative;
  margin-right: 25px;
  cursor: pointer;
}

.coeur .fa-solid {
  position: absolute;
  transform: scale(0);
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 0px 1px -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: transparent;
}

.coeur:hover + .fa-solid {
  transform: scale(1);
  transition-duration: 1s;
}

.new {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: #99E2D0;
  color: #06bfaa;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.footer-box {
  background-color: black;
  color: white;
  padding: 25px 15px 25px 15px;
}
.footer-box img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  padding: 10px 0 25px 0;
  cursor: pointer;
}
.footer-box .prop-line {
  display: flex;
  cursor: pointer;
}
.footer-box .prop-line p {
  padding-left: 10px;
}
.footer-box .part-line {
  display: flex;
  cursor: pointer;
}
.footer-box .part-line i::before {
  font-size: small;
}
.footer-box .part-line p {
  padding-left: 10px;
}
.footer-box p {
  margin-top: 0;
  margin-left: -1px;
  cursor: pointer;
}
.footer-box a {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=menustyle.css.map */