@charset "UTF-8";
body {
  margin: 0;
  font-family: "roboto", sans-serif;
}

header {
  width: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
}

/*section localisation*/
.localisation {
  box-shadow: inset 0px 4px 16px -11px rgba(0, 0, 0, 0.98);
  padding: 20px 10px 15px 20px;
  background-color: rgb(241, 239, 239);
}
.localisation .recherche {
  display: flex;
  justify-content: center;
}
.localisation .champsderecherche {
  border: none;
  font-weight: bold;
  padding-left: 10px;
  background-color: rgb(241, 239, 239);
}

/*section reservation*/
.resa {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(246, 246, 246);
  padding: 15px 0 55px 0;
  /*bouton animé*/
}
.resa .resa__titre {
  flex-wrap: wrap;
  text-align: center;
}
.resa .resa__texte {
  flex-wrap: wrap;
  text-align: center;
}
.resa .btn {
  text-decoration: none;
  border-radius: 25px 25px 25px 25px;
  padding: 15px;
  color: white;
  background: rgb(147, 86, 220);
  background: linear-gradient(353deg, rgb(147, 86, 220) 36%, rgb(255, 121, 218) 79%, rgb(255, 121, 218) 100%);
  box-shadow: 0px 10px 12px -4px rgba(0, 0, 0, 0.4);
  padding: 15px 40px 15px 40px;
  transition: box-shadow 1s;
}
.resa .btn:hover {
  filter: brightness(150%);
  box-shadow: 0px 10px 17px 6px rgba(0, 0, 0, 0.25);
}

/*section choix du resto*/
.fonctionnement {
  padding-bottom: 40px;
}

.choix {
  display: flex;
  padding: 10px;
}
.choix .bulle {
  z-index: 1;
  font-weight: bold;
  width: 45px;
  min-width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #9356DC;
}
.choix .bulle .bulle--texte {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}
.choix .bloc {
  margin-left: -15px;
  display: flex;
  justify-content: space-around;
  width: 90%;
  border-radius: 15px;
  background-color: rgb(246, 246, 246);
  box-shadow: 0px 10px 12px -4px rgba(0, 0, 0, 0.4);
}
.choix .bloc:hover {
  background-color: #e3cdff;
}
.choix .icon--store, .choix .icon--list, .choix .icon--phone {
  color: gray;
  padding-top: 15px;
}
.choix .bloc--texte {
  font-weight: bold;
}

/***section Restaurants***/
.restos {
  padding-top: 20px;
  background-color: rgb(246, 246, 246);
}
.restos .menulink, .restos a {
  text-decoration: none;
  color: inherit;
}

.pres--card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  width: 100%;
  padding-bottom: 10px;
  position: relative;
}
.pres--card .new {
  position: absolute;
  top: 10px;
  right: 15px;
}
.pres--card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 15px 15px 0px 0px;
}
.pres--card .card--texte {
  display: flex;
  flex-direction: column;
}
.pres--card .coeur {
  padding: 25px 25px 0 0;
  font-size: 32px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.pres--card .coeur:hover {
  color: #9356DC;
  display: block;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pres--card .choix-resto {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */