@charset "UTF-8";
.loadingpage {
  -webkit-animation: fadeInAnimation ease-in-out 3s;
          animation: fadeInAnimation ease-in-out 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*
  animation-delay: 3s;*/
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
.bloc-page {
  -webkit-animation: fadeoutanimation 3s;
          animation: fadeoutanimation 3s;
  opacity: 1;
}

@-webkit-keyframes fadeoutanimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeoutanimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*
header, .localisation, .resa, .fonctionnement, .restos, footer{
    animation: fadeInReverse ease 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInReverse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    80% {
        opacity: .2;
     }
    100%{
        opacity: 1;
    }
}*/
.loader {
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-top: 2px solid #9356DC;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  -webkit-animation: rota 2s infinite linear;
          animation: rota 2s infinite linear;
}
.loader::before {
  position: absolute;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-top: 2px solid #FF79DA;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  animation: rota 4s infinite linear reverse;
  content: "";
}
.loader::after {
  position: absolute;
  margin: auto;
  width: 10px;
  height: 100px;
  border-radius: 50%;
  background: #e3cdff;
  border-top: 2px solid initial;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  -webkit-animation: beat 1s infinite;
          animation: beat 1s infinite;
  content: "";
}

@-webkit-keyframes rota {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rota {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes beat {
  0% {
    width: 0;
    height: 0;
  }
  75% {
    width: 40px;
    height: 40px;
  }
  100% {
    width: 0;
    height: 0;
  }
}
@keyframes beat {
  0% {
    width: 0;
    height: 0;
  }
  75% {
    width: 40px;
    height: 40px;
  }
  100% {
    width: 0;
    height: 0;
  }
}
.header-accueil {
  width: auto;
  display: flex;
  justify-content: start;
  padding: 10px;
}

.localisation {
  box-shadow: inset 0px 4px 16px -11px rgba(0, 0, 0, 0.98);
  padding: 20px 10px 15px 20px;
  background-color: rgb(241, 239, 239);
}
.localisation .recherche {
  margin: auto;
  display: flex;
  justify-content: center;
  padding-left: 10%;
}
.localisation .champsderecherche {
  border: none;
  font-weight: bold;
  padding-left: 10px;
  background-color: rgb(241, 239, 239);
  cursor: pointer;
}

.new {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: #99E2D0;
  color: #06bfaa;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: "roboto", sans-serif;
}

.header-accueil {
  justify-content: center;
}

/*section reservation*/
.resa {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(246, 246, 246);
  padding: 15px 0 55px 0;
}
.resa .resa__titre {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.resa .resa__texte {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 10px;
}

/*section choix du resto*/
.fonctionnement {
  padding-bottom: 40px;
}

.choix {
  display: flex;
  align-items: center;
  background-color: rgb(246, 246, 246);
  box-shadow: 0px 10px 12px -4px rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  width: 90%;
  margin: auto;
  height: 80px;
  position: relative;
  margin-top: 30px;
  cursor: pointer;
}
.choix:hover {
  background-color: #e3cdff;
}
.choix:hover .bloc > i {
  color: #9356DC;
}
.choix .bulle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #9356DC;
  font-weight: bold;
  color: white;
  position: absolute;
  left: 0;
  margin-left: -10px;
  text-align: center;
  line-height: 30px;
}

/**bloc contenant bulle numérotée et case de choix*/
.bloc {
  display: flex;
  align-items: center;
  padding-left: 35px;
  padding-right: 10px;
}

.fa-mobile-screen, .fa-list, .fa-store {
  color: gray;
  padding-top: 15px;
  font-size: 1.5em;
  padding: 10px 30px 15px 0;
}

.bloc--texte {
  font-weight: bold;
}

/**********VERSION TABLETTES**********/
@media all and (min-width: 768px) {
  /***fonctionnement***/
  .container--bloc {
    display: flex;
    flex-wrap: wrap;
  }
  .container--bloc .bloc {
    margin: 10px;
  }

  /***restaurants***/
  .restos {
    box-shadow: inset 0px 4px 16px -11px rgba(0, 0, 0, 0.98);
    padding: 20px 10px 15px 20px;
  }

  .resto--card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .resto--card .menulink {
    margin: 10px;
  }
  .resto--card .pres--card img {
    height: 200px;
    width: 400px;
  }

  .footer-box {
    display: flex;
    justify-content: space-between;
  }
  .footer-box .part-line {
    margin-top: 5%;
  }
  .footer-box .footer__infos p {
    padding-bottom: 5%;
  }
}
/******VERSION DESKTOP*****/
@media all and (min-width: 992px) {
  header .logo {
    transform: scale(1.4);
  }

  /****partie fonctionnement et resa***/
  .container {
    width: 100%;
    height: 400px;
    display: flex;
  }
  .container .fonctionnement {
    width: 40%;
    padding-left: 10px;
  }
  .container .fonctionnement .container--bloc {
    display: flex;
    flex-direction: column;
  }
  .container .fonctionnement .container--bloc .choix {
    margin-top: 15px;
  }
  .container .resa {
    width: 60%;
  }
  .container .resa .btn {
    margin-top: 10%;
    transform: scale(1.4);
  }

  /***restaurants***/
  .restos {
    padding: 10 0 0 0;
  }

  .resto--card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .pres--card {
    width: 340px;
  }
  .pres--card img {
    height: 180px;
  }

  /***footer***/
  .footer-box {
    justify-content: space-evenly;
  }
}
.btn {
  text-decoration: none;
  border-radius: 25px;
  color: white;
  background: rgb(147, 86, 220);
  background: linear-gradient(353deg, rgb(147, 86, 220) 36%, rgb(255, 121, 218) 79%, rgb(255, 121, 218) 100%);
  box-shadow: 0px 10px 12px -4px rgba(0, 0, 0, 0.4);
  padding: 15px 30px 15px 30px;
  transition: box-shadow 1s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  filter: brightness(150%);
  box-shadow: 0px 10px 17px 6px rgba(0, 0, 0, 0.4);
}

/***section Restaurants***/
.restos {
  padding: 20px 15px 15px 15px;
  background-color: rgb(246, 246, 246);
}
.restos .menulink, .restos a {
  text-decoration: none;
  color: inherit;
}
.restos .resto--card {
  width: 100%;
}
.restos .pres--card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  max-width: 350px;
  margin-bottom: 25px;
  position: relative;
  box-shadow: 0px 10px 12px -4px rgba(0, 0, 0, 0.4);
  transition: 0.4s;
}
.restos .pres--card:hover {
  box-shadow: 0px 10px 17px 6px rgba(0, 0, 0, 0.4);
}
.restos .pres--card img {
  max-width: 350px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 25px 25px 0px 0px;
}
.restos .pres--card .card--texte {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-bottom: 10px;
}
.restos .pres--card .card--texte .choix-resto h2 {
  margin-bottom: 0;
}
.restos .pres--card .card--texte .lieu p {
  margin-top: 3px;
  font-weight: normal;
}
.restos .pres--card .choix-resto {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 5px;
}
.restos .pres--card .choix-resto h2 {
  font-weight: bold;
  text-transform: inherit;
  line-height: 1em;
}

.coeur {
  font-size: 30px;
  position: relative;
  margin-right: 25px;
  cursor: pointer;
}

.coeur .fa-solid {
  position: absolute;
  transform: scale(0);
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 0px 1px -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: transparent;
}

.coeur:hover + .fa-solid {
  transform: scale(1);
  transition-duration: 1s;
}

.footer-box {
  background-color: black;
  color: white;
  padding: 25px 15px 25px 15px;
}
.footer-box img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  padding: 10px 0 25px 0;
  cursor: pointer;
}
.footer-box .prop-line {
  display: flex;
  cursor: pointer;
}
.footer-box .prop-line p {
  padding-left: 10px;
}
.footer-box .part-line {
  display: flex;
  cursor: pointer;
}
.footer-box .part-line i::before {
  font-size: small;
}
.footer-box .part-line p {
  padding-left: 10px;
}
.footer-box p {
  margin-top: 0;
  margin-left: -1px;
  cursor: pointer;
}
.footer-box a {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=style.css.map */