@import "./utils/variables.scss";
@import "./composants/btn.scss";
@import "./composants/coeur";
@import "./layouts/footer";
@import "./layouts/header.scss";


body {
    margin: 0;
    font-family: 'roboto', sans-serif;
   
}

header {
    @include header-style;      
}

.imageresto img{
    width: 100%;
    height: 276px;
    object-fit:cover;
    object-position: center;
    padding-left: 50px;
}
.menu {
    border-radius: 20px;
    background-color:rgb(246, 246, 246);
    padding-top: 25px;
    margin-top: -55px;
    position: relative;
    .titremenu {
        font-family: shrikhand;
        display: flex;
        justify-content: space-between;
        .fa-heart{
            @include coeur;
        }
    }
}
h2{
    text-transform: uppercase;
}