@import "./utils/variables";

body {
    margin: 0;
    font-family: 'roboto', sans-serif;
}

header {
    width: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.localisation {
    -webkit-box-shadow: inset 0px 4px 16px -11px rgba(0,0,0,0.98); 
    box-shadow: inset 0px 4px 16px -11px rgba(0,0,0,0.98);
    padding: 20px 10px 15px 20px;
    background-color: rgb(241, 239, 239);
    .recherche {
        display: flex;
        justify-content: center;
    }
    .champsderecherche{
        border: none;
        font-weight: bold;
        padding-left: 10px;
        background-color:rgb(241, 239, 239) ;
    }
}
.resa {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(246, 246, 246);
    padding: 15px 0 55px 0;
    .resa--titre {
        flex-wrap: wrap;
            text-align: center;
    }
    .resa--texte {
        flex-wrap: wrap;
        text-align: center;
    }
    .btn{
        border-radius: 25px 25px 25px 25px;
        padding: 15px;
        color: white;
        font-weight: bold;
        border: transparent;
        background: #FF79DA;
        background: -moz-linear-gradient(top, #FF79DA 0%, #FF79DA 9%, #9356DC 100%);
        background: -webkit-linear-gradient(top, #FF79DA 0%, #FF79DA 9%, #9356DC 100%);
        background: linear-gradient(to bottom, #FF79DA 0%, #FF79DA 9%, #9356DC 100%);
        -webkit-box-shadow: 0px 10px 12px -4px rgba(0,0,0,0.4); 
        box-shadow: 0px 10px 12px -4px rgba(0,0,0,0.4);
    }
}
.choix {
    display: flex;
    padding: 10px;
    .bloc{
        display: flex;
        width: 90%;
        border-radius: 15px;
        background-color:rgb(246, 246, 246);

    }
}