@import "./utils/variables";

@mixin btn-style {
    border-radius: 25px 25px 25px 25px;
    padding: 15px;
    color: white;
    border: transparent;
    background: rgb(147,86,220);
background: linear-gradient(353deg, rgba(147,86,220,1) 36%, rgba(255,121,218,1) 79%, rgba(255,121,218,1) 100%);
    @include shadow;
}
@mixin btn-clair {
    opacity: 0,5;
    @include shadowsurvol; 
    }