@mixin coeur-style{
    font-size: 32px;
    -webkit-text-fill-color: white;
-webkit-text-stroke-width: 0.3px;
-webkit-text-stroke-color: black;
position: relative;
}

@mixin coeur-plain{
  position: absolute;
  transform: scale(0);
  color: #9356DC;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
-webkit-text-stroke-color: transparent;
} 