@import "./utils/variables.scss";
@import "./composants/btn.scss";
@import "./composants/coeur";
@import "./layouts/footer";


body {
    margin: 0;
    font-family: 'roboto', sans-serif;
   
}

header {
    width: auto;
    .menu-header{
    display: flex;
    justify-content: space-between;
    }
   
    
}