$couleurprimaire: #9356DC;
$couleursecondaire: #FF79DA;
$couleurtertiaire: #99E2D0;
$couleurprimairefade: #e3cdff;
$couleurshadow:rgba(0,0,0,0.4);
$box-shadow-size:0px 10px 12px -4px;
$focus-shadow-size:0px 10px 17px 6px;
@mixin box-shadow($shadow-size: $box-shadow-size){
    box-shadow: $shadow-size $couleurshadow;
}



