/***section Restaurants***/
@mixin box-shadow($shadow-size: $box-shadow-size){
    box-shadow: $shadow-size $couleurshadow;
}
.restos{
    padding: 20px 15px 15px 15px;
    background-color: rgb(246, 246, 246);
    .menulink, a {
        text-decoration: none;
        color: inherit;
    }
.pres--card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    width: 100%;
    margin-bottom: 25px;
    position: relative;
    @include box-shadow($box-shadow-size);
    transition: .4s;
    &:hover{
        @include box-shadow($focus-shadow-size)
    }
       
img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 25px 25px 0px 0px ;
}

.card--texte{
      display: flex;
      flex-direction: column;
      padding-left: 15px;
      padding-bottom: 10px;
      .choix-resto h2{
          margin-bottom: 0;
      }
      .lieu p{
          margin-top: 3px;
          font-weight: normal;
      }
}

.choix-resto {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 5px;
   & h2{
    font-weight: bold;
    text-transform: inherit;
    line-height: 1em;
   }
}
}
}