
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body
{  
    animation: expand 3s ;
      overflow: hidden;
      &::after + .loading__text{
        display: none;
        content: "";
      }
  }
  
  @keyframes expand {
      0% {
        transform: translateX(1);
      }
  
      100% {
        transform: translateX(0);
      }
    }

  body {
    background: #fff;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .loading__loader {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      z-index: -10;
      background-color: #fff;
  }
      .loading--text {
        font-family: 'Roboto', sans-serif;
        padding-top: 20px;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        color: $couleurtertiaire;
        animation: fading 2s 3s;
      }
    
      .loading__loader::before {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        color: $couleursecondaire;
        border: 1px solid $couleursecondaire;
        box-shadow: 0 0 30px currentColor,
          inset 0 0 30px currentColor;
        margin-bottom: 20px;
        position: relative;
        animation: colorChange 15s 3s;

        &:after {
          content: '';
          position: absolute;
          background: radial-gradient(circle, currentColor 50%, rgba(255, 255, 255, 0) 65%);
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          border-radius: 50%;
          animation: pulsing 2s infinite,
            colorChange 15s infinite;
        }
      }
    
  

  @keyframes pulsing {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }

    40% {
      opacity: 0.55
    }

    100% {
      transform: scale(1.5);
      opacity: 0;
    }
  }

  @keyframes fading {
    0% {
      opacity: 1
    }

    25% {
      opacity: 0.4;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes colorChange {
    0% {
      color: $couleursecondaire;
    }

    20% {
      color: $couleurprimaire
    }

    40% {
      color: $couleursecondaire;
    }

    60% {
      color: $couleurprimairefade;
    }

    80% {
      color: $couleurtertiaire;
    }

    100% {
      color: $couleursecondaire;
    }
  }


