.bloc-page {
    animation: opening 3s linear;
    opacity: 1;
}
    @keyframes opening {
          0% {
                opacity: 0;
          }
          50% {
                opacity: 0;
          }
          100% {
                opacity: 1;
          }
    }



.loadingpage{
    background: #fff;
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: -1;
}

.loader{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: 2px solid $couleurprimaire;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    animation: rota 2s infinite linear;

    &::before {
        position: absolute;
        margin: auto;
 
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border-top: 2px solid $couleursecondaire;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        animation: rota 4s infinite linear reverse;
        content:"";
    }
    &::after{
        position: absolute;
        margin: auto;

        width: 10px;
        height: 100px;
        border-radius: 50%;
        background: $couleurprimairefade;
        border-top: 2px solid initial;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        animation: beat 1s infinite;
        content:"";
    }
}

@keyframes rota {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes beat {
    0% {
        width: 0;
        height: 0;
    }
    75% {
        width: 40px;
        height: 40px;
    }
    100% {
        width: 0;
        height: 0;
    }
}


 
  @keyframes fadeInAnimation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }