@mixin localistation {
    
}
.localisation {
    -webkit-box-shadow: inset 0px 4px 16px -11px rgba(0,0,0,0.98); 
    box-shadow: inset 0px 4px 16px -11px rgba(0,0,0,0.98);
    padding: 20px 10px 15px 20px;
    background-color: rgb(241, 239, 239);
    .recherche {
        display: flex;
        justify-content: center;
    }
    .champsderecherche{
        border: none;
        font-weight: bold;
        padding-left: 10px;
        background-color:rgb(241, 239, 239) ;
    }
}